<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuotingDojo</title>
</head>
<body>
    <h1> Welcome to Quoting Dojo</h1>
    <div>
    <form action="/add" method="post">
    <label>Your name: </label><input type="text" name="name" placeholder="Enter your Name"><br>
    <label>Your quote: </label><input type="text" name="quote" placeholder="Enter your quote"><br>
    <input type="submit" name="submit" value="Add my quote!"> 
    </form>
    </div>
    
    <div>
    <p><button onclick='location.href="/quotes"'>Skip to quotes!</button></p>
    </div>
</body>
</html>